.app {
  width: 100vw;
  margin-top: 5%;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  .month {
    margin-right: 250px;
    color: red;
  }
  .position {
    margin-right: 300px;
    font-size: 23px;
    font-weight: bold;
  }
  .zero {
    font-size: 50px;
    margin: 5% 0 5% 0;
    margin-right: 280px;
  }
  .temperature {
    font-weight: bold;
    margin-right: 60px;
  }
  .wind {
    margin-right: 87px;
  }
}
